<style type="text/css">
	.italics{
		font-style: italic;
	}
	.last-row{
		height: 160px;
	}
	.content p{
		text-align: justify;
	}
</style>
<div class="container content">
	<div class="row">
		<div class="col-sm-12">
			<h3>About Us</h3>
			<hr>
			<p>Archer Travel was established in 1952 inside the lobby of the Glendale, CA Greyhound bus terminal by Cliff and Lola Archer. The Archers wanted to provide quality information and affordable travel arrangements for local area residents and friends who wanted to see the world. They wanted to build a business that provided the highest levels of customer service and true value. Today, that commitment to quality and affordability is carried on by the Archer Family.</p>
	 		
	 		<p>Since 1952, Archer Travel has grown in to one of the largest and most respected travel companies in California. Ron Archer, son of the founders, and his wife, Jill, own and operate the company and carry on the tradition of excellence in travel. Today, Archer Travel Service, Inc. is made up of several divisions dedicated to providing value and dependability to tens of thousands of travelers each year.</p>
	 
			<p>Archer Travel Service, Inc., Corporate Division is dedicated to meeting the demands of today's road warriors.</p>
			<ul>
				<li>The Archer Corporate agents are responsible for airline reservations, hotels, rental cars, visa and passport documentation, and more.</li>
				 
				<li>We provide efficient and accurate arrangements for the demanding business traveler to any location in the world, and we provide those arrangements at all price levels. Our agents provide the same level of outstanding service on a Southwest ticket to San Diego as they do a First Class ticket to Tokyo.</li>
				 
				<li>We provide flexibility, creativity and experience that can not be matched by internet websites. Compare our prices and our services, and see why Archer is selected by Panda Restaurants, Fresh and Easy, Footlocker, and other companies that place a high value on service, price and accuracy.</li>
				 
				<li>We offer accurate and complete reports on all travel activity to our clients.</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Business Philiosophy</h3>
			<hr>
			<p>The managment and staff of Archer Travel will do whatever is necessary to provide our clients the highest levels of customer service at the lowest available cost structure.  We explore all possibilities in an effort to accommodate all requests by those who invest in Archer Travel's services, products, and programs.</p>
			 
			<p class="italics">"No we can't" is not an option as an answer to any request</p>
			<p class="italics">The customer is always right.</p>
			<p class="italics">The customer is the most important person in the office.</p>
			<p class="italics">The customer is not dependent on us - we are dependent on them.</p>
			<p class="italics">The customer is the purpose of our business - not an interruption to it.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Mission Statement</h3>
			<hr>
			<p>We at Archer Travel always work to be the most creative and complete travel company available in the marketplace, and we strive to provide cost efficiency without sacrificing outstanding customer service. Archer Travel Service, Inc. is committed to providing superior customer service at all levels. We will not be satisfied with ordinary when we can be extraordinary.</p>
		</div>
	</div>
	<div class="row last-row">
	</div>  
</div>