<style type="text/css">
	.copyP{
		text-align: justify;
	}
	.lastRow{
		height: 100px;
	}
	.imageRow{
		text-align: center;
		margin-top: 2%;
	}
	.price{
		text-align: center;
	}
	.month{
		display: inherit;
	    font-size: 0.8em;
	    text-align: left;
	    display: block;
	}
	.tinyDiv{
	    position: absolute;
	    top: 80px;
	    right: 0;
		display: inline-block;
	}
	.subDiv{
		position: relative;
		text-align: center;
	}
	.glyphicon-ok{
		vertical-align: bottom;
		font-size: 1.5em;
		margin-top: 10px;
	}
	h4{
		font-size: 15px;
	}
	.btnCol{
		text-align: center;
		margin-top: 5%;
	}
	.imgDiv img{
		width: 100%;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Archer Frequent Traveler Program</h3>
			<hr>
			<p class="copyP">At Archer Travel’s Corporate Division, we understand traveling is vital to making your business successful.  It is our mission to provide your company with the absolute best customer service at the greatest value and cost efficiency, while providing outstanding customer service.  With our subscription Frequent Traveler Program, your company will receive benefits beyond the traditional level of corporate service.</p>
		</div>
	</div>
	<div class="row imageRow">
		<div class="col-sm-12 imgDiv">
			<%= image_tag('subscription') %>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-2 subDiv">
		<h3 class="price">Subscription</h3>
		<h2 class="price">$69</h2>
			<div class="tinyDiv">
				<span class="month"> per month</span><span class="month"> per traveler</span>
			</div>
		</div>
		<div class="col-sm-2 subDiv">
		<h3 class="price">Traditional</h3>
		<h2 class="price">$40</h2>
			<div class="tinyDiv">
				<span class="month"> per ticket</span>
			</div>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Lowest fare and 24 hour price guarantee</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Corporate Reports</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Company travel policy enforcement</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Free 24 hour toll free emergency telephone access</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Online or phone - unlimited air ticketing, hotel, and car reservations</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>50% rebate on all air commissions</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>50% rebate on all hotel and car reservations, up to 100 employees</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>65% rebate on all hotel and car reservations for 101-200 employees</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>80% rebate on all hotel and car reservations for over 201 employees</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>40-80% savings on resorts worldwide</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Discount contract negotiation</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row compRow">
		<div class="col-sm-8">
			<h4>Concierge service for restaurant & entertainment reservations</h4>
		</div>
		<div class="col-sm-2 subDiv">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		</div>
		<div class="col-sm-2 subDiv">
		</div>
	</div>
	<div class="row buttonRow">
		<div class="col-sm-12 btnCol">
			<a href="/contact"><button class="btn btn-lg btn-sample contact-btn">Ready to subscribe? Contact us!</button></a>
		</div>
	</div>
	<div class="row lastRow">
	</div>
</div>