<style type="text/css">
	.imgDiv img{
		position: relative;
		width: 100%;
	}
	.textDiv{
		position: absolute;
		top: 68px;
		left: 140px;
 		background-color: rgba(255, 255, 255, 0.8);
 		height: 200px;
 		width: 320px;
 		padding: 2% 3%;
 		text-align: center;
    	border-radius: 25px;
    	padding-top: 4%;
	}
	.lastRow{
		height: 160px;
	}
	.glyphicon{
		font-size: 28px;
	}
	.copyDiv{
		text-align: justify;
		padding: 1% 3%;
	}
	.copyRow{
		margin-top: 2%;
	}
	.listDiv{
		padding: 0% 3%;
	}
/*	.textDiv a{
		
	}*/
</style>
<div class="container">
	<div class="row topRow">
		<div class="col-md-6 listDiv">
			<h3>Group Travel</h3>
			<hr>
			<p>Archer Travel can assist your company with arranging groups of all sizes for all purposes at affordable rates. If you need to plan a manager meeting, training meeting, attend conventions or trade shows, Archer can assist.</p>
			<p>We arrange groups and business meetings and conferences from 20 to 5,000 guests and can handle all air and land accommodations, as well as ground transportation, meals, event planning and entertainment.</p>
			<p>Let Archer staff take the burden off your administrative personnel so you can focus on your core business of making money.</p>
		</div>
		<div class="col-md-6 imgDiv">
			<%= image_tag('group') %>
			<div class="textDiv">
				<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
				<h4>Manage Your Expenses Effectively</h4>
				<h5>Let Archer staff take the burden off your administrative personnel so you can focus on your core business of making money.  <a href="/contact">Contact us</a>.</h5>
			</div>
		</div>
	</div>
	<div class="row lastRow">
	</div>
</div>