<style type="text/css">
	.imgDiv img{
		position: relative;
		width: 100%;
	}
	.textDiv{
		position: absolute;
		top: 68px;
		left: 140px;
 		background-color: rgba(255, 255, 255, 0.8);
 		height: 200px;
 		width: 320px;
 		padding: 2% 3%;
 		text-align: center;
    	border-radius: 25px;
    	padding-top: 8%;
	}
	.lastRow{
		height: 160px;
	}
	.glyphicon{
		font-size: 28px;
	}
	.copyDiv{
		text-align: justify;
		padding: 1% 3%;
	}
	.copyRow{
		margin-top: 2%;
	}
	.listDiv{
		padding: 0% 3%;
	}
/*	.textDiv a{
		
	}*/
</style>
<div class="container">
	<div class="row topRow">
		<div class="col-md-6 listDiv">
			<h3>Incentive Travel</h3>
			<hr>
			<p>Archer Travel will provide monthly corporate travel management reports with complete details of your traveler’s activity in the following areas:</p>
			<p>Archer experts design and execute group and individual travel programs that will motivate your target audience and generate substantial revenues for your company.</p>
			<p>Send your sales staff to Spain, and your clients on a cruise.  We can provide a plan and a budget that will insure your incentive program will be a profit maker for your company.</p>
			<p>We can execute incentive travel from start to fabulous finish that will return huge benefits through future relationships, as well as sales.</p>
		</div>
		<div class="col-md-6 imgDiv">
			<%= image_tag('incentive') %>
			<div class="textDiv">
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				<h4>Impress your staff, franchisees and customers. <a href="/contact">Contact us</a></h4>
			</div>
		</div>
	</div>
	<div class="row lastRow">
	</div>
</div>